<!--ユーザのプロフィールを、ページ上部に記述　部分テンプレート-->
 <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'80x80' %>
 <table class="table">

  <tbody>
    <tr></tr>
    <tr>
    <th>name</th><th><%= user.name %></th>
    </tr>

    <tr>
    <th>introduction</th><th><%= user.introduction%></th>
    </tr>

  </tbody>
  </table>

  <div>
  　   <%= link_to edit_user_path(user) do%>
  　   <i class="btn btn-lg btn-block border-dark fas fa-user-cog" style="color: darkgray;"></i>
  　   <% end %>
  </div>


